<?xml version="1.0" encoding="utf-8"?>
<WeixinConfig xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <ApiUrl>https://api.weixin.qq.com</ApiUrl>
  <AppId>wx27d1fff72840c691</AppId>
  <AppSecret>8a83383d96abdfb811525c99a220bd4a</AppSecret>
  <Token><![CDATA[ufwplytyh^&*(]]></Token>
  <EncodingAesKey />
  <SubscribeMessage><![CDATA[发给我淘宝商品的链接或名称，就可查看优惠购物链接。
  
先领优惠券再下单
购物、省钱两不误

天天喵，购物之前瞄一瞄！！]]>
  </SubscribeMessage>
</WeixinConfig>